$background-grey: #bdc3c7;

#title {
  height: 50px;
  padding-left: 15px;
  padding-top: 9px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $background-grey;
}
h2 {
  color: red;
}

.nav {
  float: right;
  list-style-type: none;
  background-color: $background-grey;
  margin-right: 0;
  padding: 0;
  width: 200px;
  display: inherit;
  height: 1100px;
}
