<h2 class="title">{{#link-to 'index'}}FORUM{{/link-to}}</h2>


    <ul class="nav">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'sign-in'}}Sign-in{{/link-to}}</li>
      <li>{{#link-to 'sign-up'}}Sign-up{{/link-to}}</li>
      <li>{{#link-to 'sign-out'}}Sign-out{{/link-to}}</li>
    </ul>

<div class="container">
  {{outlet}}
</div>
