<div class="container">
  <h2 id="title">FORUM</h2>

    <ul class="nav">
      <li>{{#link-to 'sign-in'}}Sign-in{{/link-to}}</li>
      <li>{{#link-to 'sign-up'}}Sign-up{{/link-to}}</li>
      <li>{{#link-to 'sign-out'}}Sign-out{{/link-to}}</li>
    </ul>

  {{outlet}}
</div>
