<br>

{{#link-to 'index'}}<i class="fa fa-arrow-left"></i> Back{{/link-to}}

<h2>{{model.title}}</h2>

<br>

{{question-tile question=model destroyQuestion="destroyQuestion"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
