<div class="row">
  <div class="col-sm-3">

    <h3>Sign In</h3>

      {{input
          type='text'
          class='form-control'
          value=email
          placeholder='email'
      }}
      {{input
          type='password'
          class='form-control'
          value=password
          placeholder='password'
      }}
    <button class='btn btn-default'{{action 'signIn' 'password'}}>
      {{fa-icon 'sign-in'}} Sign In
    </button>
  </div>
</div>
